.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-container label {
    margin-right: 10px;
  }
  
  .customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .customer-item button {
    margin-left: 20px;
  }
  