.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-container label {
    margin-right: 10px;
  }
  
  .customer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .customer-item button {
    margin-left: 20px;
  }
  
.new-customer-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-customer-button:hover {
  background-color: #218838;
}
