<div class="container">
    <h2>Novo Cliente</h2>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="nome">Nome</label>
            <input id="nome" formControlName="nome" type="text" />
        </div>
        <div>
            <label for="cnpj">CNPJ</label>
            <input id="cnpj" formControlName="cnpj" type="text" />
        </div>
        <div>
            <label for="dataContrato">Data do Contrato</label>
            <input id="dataContrato" formControlName="dataContrato" type="date" />
        </div>
        <div>
            <label for="valorContrato">Valor do Contrato</label>
            <input id="valorContrato" formControlName="valorContrato" type="number" />
        </div>
        <div>
            <label for="situacaoContrato">Situação do Contrato</label>
            <select id="situacaoContrato" formControlName="situacaoContrato">
                <option value="Dentro do Prazo">Dentro do Prazo</option>
                <option value="Em Atraso">Em Atraso</option>
                <option value="Pago">Pago</option>
                <option value="Cancelado">Cancelado</option>
            </select>
        </div>
        <button type="submit">Salvar</button>
    </form>
</div>